# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# Scrapy
.scrapy/

# Virtual Environment
venv/
.env
.Python
pip-log.txt
pip-delete-this-directory.txt

# IDEs
.idea/
.vscode/

# Others
*.swp
.DS_Store
